.WeatherData .City,
.Date,
.Current-temp,
.Card,
.Card .description {
    color: #18e392;
}

.WeatherData {
    padding: 20px;
}

.WeatherData form {
    margin-bottom: 15px;
}

.WeatherData .City h1 {
    margin: 0;
    font-size: 35px;
}

.WeatherData .Date {
    font-size: 13px;
}

.WeatherData .temperature {
    position: relative;
    top: 4px
}

.WeatherData .Card {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 2mm;
    font-size: 14px;
}

.WeatherData .Card ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}