.WeatherData .City,
.Date,
.Current-temp,
.Card {
    color: #ffb9fa;
}

.WeatherData {
    padding: 20px;
}

.WeatherData form {
    margin-bottom: 15px;
}

.WeatherData .City h1 {
    margin: 0;
    font-size: 35px;
}

.WeatherData .Date {
    font-size: 13px;
}

.WeatherData .Current-temp img {
    height: 80px;
    width: 80px;
}

.WeatherData .Current-temp .Temperature {
    font-size: 60px;
}

.WeatherData .Card {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 2mm;
    font-size: 14px;
}

.WeatherData .Card ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}