.subtext {
    opacity: 83%;
}

.Weather {
    max-width: 600px;
    background: #50056e;
    border: 0.1mm solid #4f066b;
    border-radius: 2mm;
    box-shadow: 3px 3px 25px #9b7ab8;
}

.Weather form {
    margin: 15px 30px;
    margin-bottom: 0;
}

.Weather .form-control,
.btn {
    margin: 5px;
    font-size: 14px;
}

@media (max-width: 650px) {
    .Weather form {
        margin: 12px 18px;
        margin-bottom: 0;
    }

    .Weather .form-control,
    .btn {
        margin: 5px;
        font-size: 13px;
    }
}

@media (max-width: 441px) {
    .Weather form {
        margin: 10px;
        margin-bottom: 0;
    }

    .Weather .form-control,
    .btn {
        font-size: 13px;
    }
}