.WeatherTemperature .temperature {
    font-size: 60px;
}

.WeatherTemperature .unit {
    position: relative;
    bottom: 30px;
    left: 5px;
    font-size: 18px;
}

.WeatherTemperature a {
    text-decoration: none;
}

.WeatherTemperature a:hover {
    text-decoration: underline;
}