.subtext {
    opacity: 80%;
}

.Weather {
    max-width: 600px;
    background: rgb(247, 254, 255);
    border: 0.1mm solid #9fd9f1;
    border-radius: 2mm;
    box-shadow: 3px 3px 25px rgb(157, 182, 187);
}

.Weather form {
    margin-top: 10px;
}