.subtext {
    opacity: 80%;
}

.Weather {
    max-width: 600px;
    background: #a7d9e2;
    border: 0.1mm solid #9fd9f1;
    border-radius: 2mm;
    box-shadow: 3px 4px 10px rgb(189, 189, 189);
}

.Weather form {
    margin-top: 10px;
}